<% layout('layouts/boilerplate.ejs') %>


    <h1>All Profiles</h1>


    <!-- //load only 50 for development -->
    <% for (let i=0; i< 50; i++) {%>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <% if(profiles[i].images[0].url){ %>
                            <img class="img-fluid" src="<%= profiles[i].images[0].url %>" class="img-fluid rounded-start"
                                alt="First image related to <%= profiles[i].account.fullname %>">
                        <% }else{ %>
                            <img class="img-fluid" src="..." class="img-fluid rounded-start"
                                alt="There is no image related to <%= profiles[i].account.fullname %>">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                    <!-- <a href="/profiles/  %=profiles[i]._id%>"> -->
                                    <%= profiles[i].account.fullname %>
                                </a></h5>
                            <p class="card-text">
                                <%= profiles[i].introduction %>
                            </p>
                            <p class="card-text"><small class="text-muted">
                                    <%= profiles[i].location %>
                                </small></p>
                            <a class="btn <%= profiles[i].availability ? "btn-success" : "btn-outline-warning" %>" href="/profiles/<%=profiles[i]._id%>">View <%=profiles[i].account.firstname%></a>
                        </div>
                    </div>
                </div>
            </div>
    <% } %>