<% layout('layouts/boilerplate.ejs') %>

    <div class="row my-3">
        <!-- left side -->
        <div class="col-6">

            <!-- images Carousel -->
            <div id="profileCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-inner">
                    <% profile.images.forEach((img, i)=> { %>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                            <img src="<%= img.url%>" class="d-block w-100"
                                alt="An image uploaded by <%=profile.account.fullname%>">
                        </div>
                        <% }) %>
                </div>
                <% if(profile.images.length> 1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#profileCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#profileCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>

            <!-- card contents -->
            <div class="card mb-3 shadow">
                <div class="card-body">
                    
                    <h2 class="card-title ">
                        <%= profile.account.firstname + ', ' + profile.account.lastname.toUpperCase() %>
                    </h2>
                    
                    <p class="card-text text-muted">
                        <%= profile.location %>
                    </p>
                    
                    <p class="card-text">
                        <%= profile.introduction%>
                    </p>
                </div>

                <!-- depending on styling preference, consider dropping list-group-flush class from ol tags -->
                <div class="card-body">
                    <h5 class="card-title">List of Expertise</h5>
                    <ol class="list-group list-group-flush">
                        <% for(let i=0; i<profile.skills.length; i++) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        <%= profile.skills[i].proglang %>
                                    </div>
                                    <%= profile.skills[i].experience %> Years of Experience
                                </div>
                            </li>
                            <% }%>
                    </ol>
                </div>

                <div class="card-body">
                    <h5 class="card-title">List of Offering Services</h5>
                    <ol class="list-group list-group-numbered list-group-flush">
                        <% for(let i=0; i<profile.offerings.length; i++) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        <%= profile.offerings[i].service %>
                                    </div>
                                    $<%= profile.offerings[i].price %> (USD) / Hour
                                </div>
                            </li>
                            <% }%>
                    </ol>
                </div>

                <div class="card-body">
                    <div class=" card-title <%= profile.availability ? " text-success" : "text-danger" %>" ><strong>
                        <%= profile.availability ? "Available to Work" : "Currently Unavailable to Work" %>
                    </strong>
                </div>
                <% if(currentAccount ){ %> 
                    <div class="card-text my-0">
                        Contact: <%= profile.account.email %> 
                    </div>
                <% }else{ %>
                    <div class="card-text my-0">
                        <a class="text-primary" href="/account/register">Register</a> or <a class="text-primary"href="/account/login">Login</a> to view contacts of profiles 
                    </div>
                    <% } %> 
                </div>

            </div>

            <div class="">

                <% if(isProfileOwner){ %> 
                <a class="card-link btn btn-outline-warning mb-3" href="/profiles/<%=profile._id%>/edit">Edit
                    Profile</a>
                <form class="d-inline" action="/profiles/<%=profile._id%>?_method=DELETE" method="POST">
                    <input type="hidden" id="accountId" name="accountId" value="<%=profile.account._id%>">
                    <button class="btn btn-outline-danger mb-3">Delete Profile</button>
                </form>
                <% } %> 

                <a class="card-link btn btn-success mb-3" href="/profiles/">All Profiles Page</a>
            </div>

        </div>

        <!-- right side -->
        <div class="col-6">
            <!-- Clustermap placeholder -->
            <div class="text-center mb-3" id='map'> CLUSTERMAP PLACEHOLDER</div>

            <h2 class="text-center">Leave a Review</h2>
            
        </div>

    </div>